[submodule "vendor/plugins/redmine_jchat"]
	path = vendor/plugins/redmine_jchat
	url = git://github.com/joshsten/redmine_jchat
[submodule "vendor/plugins/redmine-timesheet-plugin"]
	path = vendor/plugins/redmine-timesheet-plugin
	url = git://github.com/edavis10/redmine-timesheet-plugin.git
